@mixin LQ() {
  width: 80%;
  margin: 20px auto;
  // border: 1px red solid;
  background-color: white;
  color: black;
  box-sizing: border-box;
  padding: 20px;
  border: 4px #DC564A dashed;
  border-radius: 15px;
}
